<a href="https://colab.research.google.com/github/abhig1909/30-Days-Of-Python/blob/main/Exercises_Level_1_04_03_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises: Level 1

In [ ]:
#Inside 30DaysOfPython create a folder called day_2. Inside this folder create a file named variables.py

#Day 2: '30 Days of python Programming'

first_name= 'Abhishek'
last_name ='Ajay Gupta'
Full_name= 'Abhishek Ajay Gupta'
country_name='India'
city= 'Noida'
age= 24
year = 2024
is_married= 'NO'

print(first_name , last_name , Full_name , country_name , city , age ,year, is_married )

print('first name =' , first_name)
print('last name =' , last_name)
print('Full name =' , Full_name)
print('country name =' , country_name)
print('city = ', city)
print('age = ' ,age)
print('year=', year)
print( 'married ' , is_married)

#Level 2.

print(type(first_name))
print(type(country_name))
print(type(age))
print(type(year))
print(type(is_married))

#lenght function/.

print(len(first_name))
print(len(country_name))
print(len(is_married))

#Compare the length of your first name and your last name.

print(len(first_name))
print(len(last_name))

if (len(first_name)) == (len(last_name)):
  print('SAME')
else:
  print('NOSAME')

Abhishek Ajay Gupta Abhishek Ajay Gupta India Noida 24 2024 NO
first name = Abhishek
last name = Ajay Gupta
Full name = Abhishek Ajay Gupta
country name = India
city =  Noida
age =  24
year= 2024
married  NO
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'str'>
8
5
2
8
10
NOSAME

Declare 5 as num_one and 4 as num_two

In [ ]:
#Declare 5 as num_one and 4 as num_two.


#Add num_one and num_two and assign the value to a variable total
num_one=5
num_two=3

#total= num_one + num_two

print('total =', num_one+num_two)

#print(total)

#Subtract num_two from num_one and assign the value to a variable diff

num1=24
num2=19

print('diff= ', num1- num2)

#Multiply num_two and num_one and assign the value to a variable product

print('product=', num1*num2)

#Divide num_one by num_two and assign the value to a variable division

print('division= ', num_two / num_one)

#Use modulus division to find num_two divided by num_one and assign the value to a variable remainder

print('reminder = ' , num_two % num_one)


#Calculate num_one to the power of num_two and assign the value to a variable exp

print( 'variable Exp =', num_one ** num_two )

#Find floor division of num_one by num_two and assign the value to a variable floor_division

print('variable_floor_division = ', num_one // num_two )

total = 8
diff=  5
product= 456
division=  0.6
reminder =  3
variable Exp = 125
variable_floor_division =  1

The radius of a circle is 30 meters

In [11]:
#Calculate the area of a circle and assign the value to a variable name of area_of_circle.

radius=1
pie=3.14

area_of_circle=pie*radius*radius

print('area of circle =',area_of_circle )

#Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle.

pie=3.14
radius=12

circum_of_circle =2*pie*radius

print('circumferance of circle is ', circum_of_circle)


#Take radius as user input and calculate the area.




pie=3.14

radius=(int(input('enter the number')))

print(radius)

area_of_circle=pie*radius*radius

print('area of circle =',area_of_circle )

area of circle = 3.14
circumferance of circle is  75.36
enter the number1
1
area of circle = 3.14

In [17]:
#Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

#fname= Abhishek
#lname= Gupta
#country= India
#age=24

fname=(input('enter the first name'))
print('first name',fname)

lname=(input('enter the last name'))
print('last name',lname)

age=(int(input("enter the age in  number")))
print('age = ', age)

country=(input('enter the name of your country'))
print('country ', country)

enter the first nameAbhishek
first name Abhishek
enter the last nameGupta
last name Gupta
enter the age in  number25
age =  25
enter the name of your countryIndia
country  India